<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link href="./style.css" rel="stylesheet">
</head>
<body class="bg-[#F7F8FA]">
	<div class="sticky  w-full p-4 border-b-2 border-slate-300">
		<a href="/">
			Spaces 
		</a>
	</div>
	<div class="mt-2 block">
		{{{body}}}
	</div>
</body>
</html>